<div class="listed-upload-info" onmouseover={{action "over"}} onmouseout={{action "off"}}>
	<div class="listed-upload-name">
		{{name}}
	</div>
	<div class="listed-upload-course">
		{{course}}
	</div>
	<div class="listed-upload-filetype">
		{{file_type}}
	</div>
	
	<div class={{iconClass}}>
		<div class="clickable-icon" {{action 'viewUpload'}}>
			{{fa-icon 'download'}}
		</div>
		<div class="clickable-icon" {{action 'viewUpload'}}>
			{{fa-icon 'info-circle'}}
		</div>
	</div>
	{{#if showUploadModal}}
		{{#modal-dialog translucentOverlay=true close="closeUpload"}}
			{{upload-info}}
		{{/modal-dialog}}
	{{/if}}
</div>
