<div id="dashboard-container">
	{{dashboard-navbar openNewUploadModal="openNewUploadModal" closeNewUploadModal="closeNewUploadModal" openNewCourseModal="openNewCourseModal" closeNewCourseModal="closeNewCourseModal" setFilterType='setFilterType'}}
	{{component filterComponentName chooseClass="chooseClass" updateFilter="updateFilter"}}
	{{upload-list uploads=model}}
	{{#if showNewUploadModal}}
		{{#modal-dialog container-class="new-upload-container" translucentOverlay=true close="closeNewUploadModal"}}
			{{new-upload close="closeNewUploadModal"}}
		{{/modal-dialog}}
	{{/if}}
	{{#if showNewCourseModal}}
		{{#modal-dialog translucentOverlay=true close="closeNewCourseModal"}}
			{{new-course newCourseForm="newCourseForm"}}
		{{/modal-dialog}}
	{{/if}}
</div>
